/* Heading styles */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../../assets/images/bird.jpg');
  background-size: cover;
  background-position: center;
  
}

.App h1 {
  margin-top: 0;
  font-size: 3rem;
  color: #333;
}
/* Hero.css */

.hero-container {
    background: #f8f9fa;
    padding: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.hero-container h1 {
    font-size: 2.5rem;
    color: #333;
}

.hero-description {
    font-size: 1.2rem;
    color: #555;
    margin-top: 20px;
}

.hero-buttons {
    margin-top: 30px;
}

.register-button {
    padding: 10px 20px;
    margin: 0 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.login-button {
    padding: 10px 20px;
    margin: 0 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
.browse-button {
    padding: 10px 20px;
    margin: 0 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.register-button:hover, .login-button:hover {
    background: #0056b3;
}