.article-cards {
  background-color: rgb(202,235,150);
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.active-filter {
  background-color: dodgerblue;
  color: white;
  border-radius: 7px;
}