.article-cards {
  background-color: rgb(202,235,150);
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin-left: 10px;
  z-index: 1000;
}
.login-browse-btn {
  position: fixed;
  bottom: 20px;
  right: 75px;
  margin-right: 10px;
  padding: 10px 20px;
  margin: 0 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}



.active-filter {
  background-color: dodgerblue;
  color: white;
  border-radius: 7px;
}