
.about-image {
    background-color: transparent;
    width: 100%;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
  }
  .about-quote {
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .about-wrapper {
    margin-left: 1em;
    margin-right: 1em;
  }

  .back-button-container {
    margin-top: .75em;
    position: fixed;
    top: 0;
    right: 0;
  }

  .login-link {
    padding: 10px 30px; 
    border-radius: 7px; 
    background-color: #4CAF50; 
    color: #fff; 
    border: none;
    cursor: pointer; 
    font-size: 1.1rem; 
    position: relative; 
    bottom: 10px; 
    left: 45%; /* centered horizontally */
    /* transform: translateX(-50%);  */
  }