.add-article {
    position: relative;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7); /* Make the form slightly transparent */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .disabled-field {
    background-color: #f0f0f0;
    color: #666;
    cursor: not-allowed;
  }

  .submit-button {
    padding: 10px 20px;
    margin: 0 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

  